<div id="search-component">
    <label for="search-box">Icing Search</label>
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  
    <ul class="search-result">
      <li *ngFor="let icing of icings$ | async" >
        <a routerLink="/detail/{{icing.id}}">
          {{icing.name}}
        </a>
      </li>
    </ul>
  </div>