/* HeroSearch private styles */

label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    color: #e4c8c8a4; 
    font-family: 'Georgia', serif; 
  }
  input {
    padding: .5rem;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    background-color: #9e8d8da9; 
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Georgia', serif; 
    border-radius: 5px;
  }
  
  input:focus {
    outline: #336699 auto 1px;
  }
  
  li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  .search-result li a {
    border-bottom: 1px solid rgba(231, 229, 231, 0.829);
    border-left: 1px solid rgba(231, 229, 231, 0.829);
    border-right: 1px solid rgba(231, 229, 231, 0.829);
    display: inline-block;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    border-radius: 5px;
  }
  
  .search-result li a:hover {
    background-color: #5c3f5259;
    color: white;
  }
  
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }