<div *ngIf="icing">

    <h2>{{icing.name | uppercase}} DETAILS</h2>
    <div class="centerAll">
      <div  class="fieldName"><span>ID: </span>{{icing.id}}</div>
      <div>
        <label class="fieldName" for="icing-name">Icing Name: </label>
        <input id="icing-name" [(ngModel)]="icing.name" placeholder="name">
      </div>
    </div>
    <div class="centerButtons">
      <button (click)="goBack()">Back</button>
      <button (click)="save()">Save</button>
    </div>
  </div>