
h2 {
    text-align: center;
    color: #e4c8c8a4; 
    font-family: 'Georgia', serif; 
}

.centerAll{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;
}

.centerButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

input{
    background-color: #9e8d8da9; 
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Georgia', serif; 
    border-radius: 5px;
}