<h1>{{title}}</h1>
<nav>
  <Button class="center" routerLink="/dashboard">Dashboard</Button>
  <br>
  <Button class="center" routerLink="/icings">Icings</Button>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>