Button {
    background-color: #9e8d8da9; 
    border: none;
    color: rgba(255, 255, 255, 0.788);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    margin: auto;
    font-family: 'Georgia', serif; 

        /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}

Button:hover {
    color: white;
    background-color: #c5a8aba1;
}

h1 { 
    text-align: center;
    color: #ffffff93; 
    font-family: "Great Vibes", cursive; 
    font-size: 120px; 
    line-height: 160px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px; 
    text-align: center; 
}

