<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <button 
            (click)="messageService.clear()">Clear Messages</button>
    <div class="messages" *ngFor='let message of messageService.messages'> {{message}} </div>
  
  </div>