/* MessagesComponent's private CSS styles */
h2 {
    color: #979292;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-family: 'Georgia', serif; 
  }
  
  .clear {
    color: #333;
    background-color: #eee;
    margin-bottom: 12px;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .clear:hover {
    color: white;
    background-color: #42545C;
  }

  .messages {
    color: #ffffff93; 

}