<h2>Top Icings</h2>
<div *ngIf="icings" class="icings-menu">


  <span style="" *ngFor="let icing of icings">
    <a routerLink="/detail/{{icing.id}}">
      <span class="badge">{{icing.name}}</span> 
    </a>
  </span>

  <app-icing-search></app-icing-search>
</div>



<!-- Notes: Put inside div -->
 <!-- <a *ngFor="let icing of icings">
    {{icing.name}}
  </a> -->
  <!-- <a *ngFor="let icing of icings"
  routerLink="/detail/{{icing.id}}">
  {{icing.name}}
</a> -->

<!-- <ul class="icings">
    <li *ngFor="let icing of icings"
      [class.selected]="icing === selectedIcing"
      (click)="onSelect(icing)">
      <span class="badge">{{icing.id}}</span> {{icing.name}}
    </li>
</ul> -->