/* DashboardComponent's private CSS styles */

h2 {
    text-align: center;
    color: #e4c8c8a4; 
    font-family: 'Georgia', serif; 
}

.icings-menu-bk {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

.icings-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;
}
  
a {
  background-color: #5c3f5259;
  border-radius: 20px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  margin-right: 30px;
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: rgba(175, 155, 158, 0.521);
}