html{
    background: rgb(149,114,130);
    background: radial-gradient(circle, rgba(149,114,130,1) 0%, rgba(57,66,77,1) 100%);
}

.fieldName {
    text-align: center;
    color: #e4c8c8a4; 
    font-family: 'Georgia', serif; 
    font-size: 18px;

}

button { 
    background-color: #857a8381; 
    border: none;
    color: rgb(216, 205, 205);
    padding: 8px;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Georgia', serif; 
}

button:hover {
    color: white;
    background-color: #7c6f85a1;
}

input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }