<!-- <div>
    <label for="name">Icings: </label>
    <input id="name" [(ngModel)]="icings.name" placeholder="name">
  </div> -->


  <!-- <h2>My Icings</h2>
<ul class="icings">
  <li *ngFor="let icing of icings" [class.selected]="icing === selectedIcing" (click)="onSelect(icing)">
    <span class="badge">{{icing.id}}</span> {{icing.name}}
  </li>
</ul>

<div *ngIf="selectedIcing">
  <h2>{{selectedIcing.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedIcing.id}}</div>
  <div>
    <label for="icing-name">Hero name: </label>
    <input id="icing-name" [(ngModel)]="selectedIcing.name" placeholder="name">
  </div>
</div>

<app-icing-detail [icing]="selectedIcing"></app-icing-detail> -->


<h2>Icings</h2>
<div class="centerItems">
  <ul class="icings">
    <li *ngFor="let icing of icings">
      <a routerLink="/detail/{{icing.id}}">
        <span class="badge">{{icing.id}}</span> {{icing.name}}
      </a>
      <button class="delete" title="delete icing"
    (click)="delete(icing)">x</button>
    </li>
  </ul>



<div>
  <label class="fieldName" for="new-icing">Icing Name: </label>
  <input id="new-icing" #icingName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(icingName.value); icingName.value=''">
    Add Icing
  </button>
</div>

</div>
  
