/* IcingsComponent's private CSS styles */

h2 {
  text-align: center;
  color: #e4c8c8a4; 
  font-family: 'Georgia', serif; 
}

.centerItems{
  /* flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.icings {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.icings li {
  position: relative;
  cursor: pointer;
}

.icings li:hover {
  left: .1em;
}

.icings a {
  color: rgba(245, 241, 241, 0.76);
  text-decoration: none;
  background-color: rgba(63, 54, 66, 0.685);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.icings a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.icings a:active {
  background-color: #525252;
  color: #817474;
}

.icings .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#b998a7cb;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}


button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: rgba(61, 54, 63, 0.705);
  color:  #9b9595;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #7b737cc7;
  color: white;
}

input{
  background-color: #9e8d8da9; 
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Georgia', serif; 
  border-radius: 5px;
}